@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&displaay=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#piano {
    width: 780px;
    padding: 35px 40px;
    background-color: #000;
    border-radius: 20px;
    user-select: none;
}
#piano header{
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}
.volume input{
    accent-color: #fff;
}
.keys-checkbox{
    display: flex;
}
.keys-checkbox input{
    width: 60px;
    height: 30px;
    cursor: pointer;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    position: relative;
}
.keys-checkbox input::before{
    content: "";
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    position: absolute;
    background-color: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before{
    left: 35px;
    background-color: #fff;
}
.keys {
    margin-top: 40px;
    position: relative;
}

.white-keys {
    display: flex;
}

.black-keys {
    position: relative;
    display: flex;
}

.white-key {
    
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: solid #000 1px;
    background: linear-gradient(#fff 96%, #eee 4%);
}
.white-key.active{
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.black-key {
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    width: 44px;
    height: 140px;
    background: linear-gradient(#333, #000);
}
.black-key.active{
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(2) {
    left: 119px;
}

.black-key:nth-child(3) {
    left: 258px;
}

.black-key:nth-child(4) {
    left: 328px;
}

.black-key:nth-child(5) {
    left: 398px;
}

.black-key:nth-child(6) {
    left: 538px;
}

.black-key:nth-child(7) {
    left: 608px;
}

.key{
    cursor: pointer;
    color: #a2a2a2;
    font-size: 1.13rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.key span{
    margin-bottom: 15px;
}
.key span.hidde{
    display: none;
}